<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>

<body>
    <div>
        <h1>Spooky Events!</h1>
        <h4>Come Find My Table at these upcoming events!</h4>

        <div class="container">
            <!-- Left Column: 5 smaller images with date and location -->
            <div class="left-column">
                <div class="event-item">
                    <img src="assets/conventions/HorrorCon.png" alt="Event 6">
                    <div class="event-info">
                        <p class="event-name">Off the Page: Horror Author Panel</p>
                        <p class="event-location">North Port Library 13800 Tamiami Trail, North Port, FL</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="assets/conventions/Hallowbeen1.png" alt="Event 3">
                    <div class="event-info">
                        <p class="event-name">A Harvest of Horror</p>
                        <p class="event-date">Nov 22nd, 2025</p>
                        <p class="event-location">1900 S Tamiami Trail #114 Port Charlotte, FL</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="assets/conventions/fandom.png" alt="Event 3">
                    <div class="event-info">
                        <p class="event-name">Fandom Fest</p>
                        <p class="event-date">Dec. 13th, 2025</p>
                        <p class="event-location">Fort Myers Regional Library 2450 First St, Fort Myers, FL</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="assets/conventions/bookdragon.webp" alt="Event 3">
                    <div class="event-info">
                        <p class="event-name">The Bookdragon's Lair LLC</p>
                        <p class="event-date">Jan. 10th, 2026</p>
                        <p class="event-location">1810 El Jobean Rd, Port Charlotte, FL</p>
                    </div>
                </div>
            </div>


            <!-- Right Column: stacked feature photos -->
            <div class="right-column">
                <img src="assets/conventions/elaine.jpeg" alt="Elaine Pascale at a convention">
                <img src="assets/conventions/Showcase.jpg" alt="Elaine Pascale's convention table">
            </div>
        </div>
    </div>
</body>

</html>
