<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>

<body>
    <div>
        <h1>Spooky Events!</h1>
        <h4>Come Find My Table at these upcoming events!</h4>

        <div class="container">
            <!-- Left Column: 5 smaller images with date and location -->
            <div class="left-column">

                <div class="event-item">
                    <img src="assets/conventions/SRQCon.png" alt="Event 2">
                    <div class="event-info">
                        <p class="event-date">June 7th, 2025</p>
                        <p class="event-location">Sarasota, FL</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="assets/conventions/Hallowbean.png" alt="Event 3">
                    <div class="event-info">
                        <p class="event-date">June 21st, 2025</p>
                        <p class="event-location">North Port, FL</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="assets/conventions/HorrorFort.jpg" alt="Event 4">
                    <div class="event-info">
                        <p class="event-date">Sept. 27th, 2025</p>
                        <p class="event-location">Fort Myers, FL</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="assets/conventions/SpookyOrlando.png" alt="Event 5">
                    <div class="event-info">
                        <p class="event-date">Oct. 31st, Thru</p>
                        <p class="event-date">Nov. 2nd, 2025</p>
                        <p class="event-location">Orlando, FL</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="assets/conventions/HorrorCon.png" alt="Event 6">
                    <div class="event-info">
                        <p class="event-date">Nov. 17th, 2025</p>
                        <p class="event-location">North Port, FL</p>
                    </div>
                </div>
            </div>

            <!-- Right Column: 1 large image -->
            <div class="right-column">
                <img src="assets/conventions/Showcase.jpg" alt="Main Event">
            </div>
        </div>
    </div>
</body>

</html>