<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elaine Pascale's podcast files.">
    <title>Podcasts Elaine Pascale has appeared on</title>
</head>

<body>
    <div class="background">
        <h1>Podcasts</h1>
        <div class="container d-flex justify-content-center">
            <div id="mobile-box">

                <!-- Card Ripped to Shreds -->

                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img class="card-img-top" src="../assets/img/ripped.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center">

                        <h5 class="h5 font-weight-bold"><a
                                href="https://podcasts.apple.com/us/podcast/elaine-pascale-ripped-to-shreds/id1629693565?i=1000595999059"
                                target="_blank">Ripped to Shreds</a></h5>

                        <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0"
                            height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;"
                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                            src="https://embed.podcasts.apple.com/us/podcast/elaine-pascale-ripped-to-shreds/id1629693565?i=1000595999059"></iframe>

                    </div>
                </div>

                <!-- Card Anne Rice-->

                <div class="spacing">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img class="card-img-top" src="../assets/img/anneaudio.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center">

                            <h5 class="h5 font-weight-bold"><a
                                    href="https://www.blogtalkradio.com/michiganavenuemedia/2022/06/16/anne-rice-tribute-anthology--michigan-avenue-media"
                                    target="_blank">Anne Rice Tribute Anthology</a></h5>

                            <iframe width="350" height="102px"
                                src="//percolate.blogtalkradio.com/offsiteplayer?hostId=178015&episodeId=12084267"
                                frameborder="0" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>

                <!-- Card 2000 Vampires-->

                <div class="spacing">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img class="card-img-top" src="../assets/img/vampire2000.jpg" alt="Card image cap">
                            <a
                                href="https://anchor.fm/don-anelli/embed/episodes/Episode-5---Top-10-Post-2000-Vampire-Films-e1dm1nc/a-a7aomgm">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">

                            <h5 class="h5 font-weight-bold"><a
                                    href="https://podcasters.spotify.com/pod/show/don-anelli/episodes/Episode-5---Top-10-Post-2000-Vampire-Films-e1dm1nc"
                                    target="_blank">Top 10 Post-2000 Vampire Films</a></h5>

                            <iframe
                                src="https://anchor.fm/don-anelli/embed/episodes/Episode-5---Top-10-Post-2000-Vampire-Films-e1dm1nc/a-a7aomgm"
                                height="102px" width="350px" frameborder="0" scrolling="no"></iframe>

                        </div>
                    </div>
                </div>

                <!--Card Creative Writing w/ Dr.Nagle -->
                <div class="spacing">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img class="card-img-top" src="../assets/img/creativehorror.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center">

                            <h5 class="h5 font-weight-bold"><a
                                    href="https://www.podbean.com/media/share/pb-cph8q-fb1f9c?utm_campaign=embed_player_stop&utm_medium=dlink&utm_source=embed_player"
                                    target="_blank">Creative Writing w/ Dr. Nagle & Horror Author Elaine Pascale</a>
                            </h5>

                            <iframe title="Interview with Horror Author Elaine Pascale" allowtransparency="true"
                                height="102" width="350" style=" min-width: min(100%, 430px);" scrolling="no"
                                data-name="pb-iframe-player"
                                src="https://www.podbean.com/player-v2/?from=embed&i=cph8q-fb1f9c-pb&square=1&share=1&download=1&fonts=Arial&skin=1&font-color=&rtl=0&logo_link=&btn-skin=7&size=300"
                                allowfullscreen=""></iframe>

                        </div>
                    </div>
                </div>
                <!--Card Marsha Casper Cook-->
                <div class="spacing">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img class="card-img-top" src="../assets/img/horrorstory.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body text-center">

                            <h5 class="h5 font-weight-bold"><a
                                    href="https://podcasts.apple.com/us/podcast/a-good-story-is-a-good-story-host-marsha-casper-cook/id1375404913?i=1000582584711"
                                    target="_blank">Marsha Casper Cook - A Good Story is a Good Story</a></h5>

                            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0"
                                height="175" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;"
                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                                src="https://embed.podcasts.apple.com/us/podcast/a-good-story-is-a-good-story-host-marsha-casper-cook/id1375404913?i=1000582584711"></iframe>

                        </div>
                    </div>
                </div>
                <!--Card Do Undead Pay Taxes-->
                <div class="spacing">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img class="card-img-top" src="../assets/img/undeadtax.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center">

                            <h5 class="h5 font-weight-bold"><a
                                    href="https://www.iheart.com/podcast/256-great-lakes-horror-company-31015534/episode/great-lakes-horror-company-ep-57102851/"
                                    target="_blank">Do the Undead Pay Taxes</a></h5>

                            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0"
                                height="175" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;"
                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                                src="https://embed.podcasts.apple.com/us/podcast/great-lakes-horror-company-ep-040-do-the-undead-pay-taxes/id1083666939?i=1000464764668"></iframe>

                        </div>
                    </div>
                </div>
                <!--Card Everyone Wants to Vampire-->
                <div class="spacing">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img class="card-img-top" src="../assets/img/sexyvamp.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body text-center">

                            <h5 class="h5 font-weight-bold"><a
                                    href="https://www.iheart.com/podcast/256-great-lakes-horror-company-31015534/episode/great-lakes-horror-company-ep-57852217/"
                                    target="_blank">Everybody Wants to F*ck the Vampire</a></h5>

                            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0"
                                height="175" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;"
                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                                src="https://embed.podcasts.apple.com/us/podcast/great-lakes-horror-company-ep-041-everybody-wants-to/id1083666939?i=1000466089069"></iframe>

                        </div>
                    </div>
                </div>
                <!--Card Inebriart Pod-->
                <div class="spacing">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img class="card-img-top" src="../assets/img/inebriart.jpg" alt="Card image cap">

                        </div>
                        <div class="card-body text-center">

                            <h5 class="h5 font-weight-bold"><a
                                    href="https://inebriart.libsyn.com/size/5/?search=elaine+pascale"
                                    target="_blank">Inebriart Podcast</a></h5>

                            <iframe title="Libsyn Player" style="border: none"
                                src="//html5-player.libsyn.com/embed/episode/id/6760818/height/90/theme/custom/thumbnail/yes/direction/forward/render-playlist/no/custom-color/000000/"
                                height="102" width="350" scrolling="no" allowfullscreen webkitallowfullscreen
                                mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>