.footer {
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: black;
    padding: 10px 10px;
}

h1 {
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
}

a:hover {
    color: #cf4344;
}

i {
    padding-left: 5%;
}

.bi-tiktok {
    margin-bottom: 1%;
    margin-left: 5%;
}

.home {
    padding-left: 0;
}

.center {
    padding-left: 2%;
}

.right {
    padding-left: 30%;
}

.middle {
    padding-left: 20%;
}

@media screen and (max-width:600px) {
    .middle {
        display: flex;
        padding-left: 0%;
        flex-wrap: wrap;
    }

    .right {
        padding-left: 55vw;
    }
}