<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Footer Page with links to Elaine Pascale's social media channels and links back to original website.">
    <title>Footer Page for Elaine Pascale</title>
</head>

<body>
    <div class="container-fluid footer">
        <div class="row">
            <!--name-->
            <div class="col-lg-2">
                <a routerLink="" class="home">Elaine Pascale</a>
            </div>
            <!--nav-->
            <div class="col-lg-8">
                <span class="middle">
                    <a routerLink="youtube" class="center">Videos</a>               
                    <a routerLink="haunts" class="center">Haunts</a>
                    <a routerLink="podcasts" class="center">Podcasts</a>   
                    <a routerLink="interviews" class="center">Interviews</a>                                     
                    <a routerLink="about" class="center">About</a>
                </span>
            </div>
            <!--Social Media-->
            <div class="col-lg-2">
                <span class="right">
                    <a href="https://www.facebook.com/elaine.pascale" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/doclaney/?hl=en" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                    <a href="https://www.tiktok.com/@elainepascale" target="_blank"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor"
                            class="bi bi-tiktok" viewBox="0 0 16 16">
                            <path
                                d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z" />
                        </svg></a>
                    <a href="https://twitter.com/doclaney" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/elaine-pascale?trk=people-guest_people_search-card" target="_blank"><i
                            class="bi bi-linkedin"></i></a>
                </span>
            </div>

        </div>
    </div>
</body>

</html>