.banner
{
    background-image: url('../../../assets/img/error.png');
    background-position: center bottom;
    background-size: cover;
    margin-top: 0%;
    height: 100vh;
    margin: 0 auto;
}
h1
{
    color:black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Nosifer, Verdana, Geneva, Tahoma, sans-serif;
}