<head>
    <title>Elaine Pascale's Book Collection </title>
    <meta name="description" content="All of Elaine Pascale's Books, inclduing If Nothing Else, Eve, We've Enjoyed the Fruit and The Blood Lights.">
</head>
<div class="background">
<div class="container">
    <div class = "row">
        <div class="col-lg-4" *ngFor="let bd of bookData;index as i">
            <div class="bookbox">
            <a href="{{bd.bookUrl}}" target="_blank"> <img src="{{bd.bookimg}}"></a>
                <p>{{bd.bookDes}}</p> 
            </div>
        </div>
    </div>
</div>
</div>

