<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Youtube Vidoes that have Elaine Pascale appearing in them.">
  <title>Elaine Pascale Youtube Videos</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <!--Feminist Horror Video-->
        <youtube-player videoId="bs3nd6wWJ6s" suggestedQuality="highres" [height]="250" [width]="500">
        </youtube-player>
      </div>
      <div class="col">
        <!--Words that Kill Video-->
        <youtube-player videoId="Lun8pCMl7tc" suggestedQuality="highres" [height]="250" [width]="500">
        </youtube-player>
      </div>
      <div class="col">
        <!--Anne-->
        <a href='https://youtu.be/-52RGwXVYcw' target="_blank"><button id="podcast"><img
          src="../assets/img/BloodReading.jpg" alt="Dancing in the Shadows A Tribute to Anne Rice"></button></a>
      </div>
      <div class="col">
        <!--Dancing in the Shadows-->
        <youtube-player videoId="8w2uRTBjUAo" suggestedQuality="highres" [height]="250" [width]="500">
        </youtube-player>
      </div>
      <div class="col">
        <youtube-player videoId="_OXBcEFDo9I" suggestedQuality="highres" [height]="250" [width]="500">
        </youtube-player>
      </div>
      <div class="col">
        <youtube-player videoId="KokQiweeGjA" suggestedQuality="highres" [height]="250" [width]="500">
        </youtube-player>
      </div>
      <div class="col">
        <youtube-player videoId="XMk-FWa3sLw" suggestedQuality="highres" [height]="250" [width]="500">
        </youtube-player>
      </div>
      <div class="col">
        <youtube-player videoId="Tk08Aa94Vso" suggestedQuality="highres" [height]="250" [width]="500">
        </youtube-player>
      </div>
    </div>
  </div>
</body>

</html>