<head>
  <title>Elaine Pascale Youtube Videos</title>
  <meta name="description" content="Youtube Vidoes that have Elaine Pascale appearing in them.">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <youtube-player 
      videoId="-52RGwXVYcw" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" >
    </youtube-player>
    </div>
    <div class="col">
      <youtube-player 
      videoId="Lun8pCMl7tc" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" >
    </youtube-player>
    </div>
    <div class="col">
      <youtube-player 
      videoId="KokQiweeGjA" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" >
    </youtube-player>
    </div>
    <div class="col">
      <youtube-player 
  videoId="XMk-FWa3sLw" 
  suggestedQuality="highres" 
  [height]="250" 
  [width]="500" >
</youtube-player>
    </div>
    <div class="col">
      <youtube-player 
  videoId="Tk08Aa94Vso" 
  suggestedQuality="highres" 
  [height]="250" 
  [width]="500" >
</youtube-player>
    </div>
  <div class="col">
    <youtube-player 
videoId="bs3nd6wWJ6s" 
suggestedQuality="highres" 
[height]="250" 
[width]="500" >
</youtube-player>
  </div>
<div class="col">
  <youtube-player 
videoId="_OXBcEFDo9I" 
suggestedQuality="highres" 
[height]="250" 
[width]="500" >
</youtube-player>
</div>
<div class="col">
  <youtube-player 
videoId="8w2uRTBjUAo" 
suggestedQuality="highres" 
[height]="250" 
[width]="500" >
</youtube-player>
</div>
  </div>
</div>
</body>

