<!DOCTYPE html>
<html lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Women in Horror Month PDFs.">
  <title>Haunts collection of all things spooky</title>
</head>

<body>
  <div class="background">
    <h1>Haunts</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <button><a href="https://podcasts.apple.com/ie/podcast/what-a-scream/id1551549196" target="_blank"><img src="..\assets\img\WhataScream.jpeg" alt="WhataScream"></a></button>
        </div>
        <div class="col">
          <button><a href="https://spreadingthewritersword.com/" target="_blank"><img src="..\assets\img\LOH.jpg" alt="LadiesofHorrorChallenge"></a></button>
        </div>
        <div class="col">
          <button><a href="https://www.youtube.com/watch?v=QILu9Tz2aYw&list=PL49DVVY0PV1RIHP4ptFc_USU8v494LO9L" target="_blank"><img src="..\assets\img\ExerciseYoureWrites.jpg" alt="LadiesofHorrorReadings"></a></button>
        </div>
        <div class="col">
          <button><a href="https://penofthedamned.com/" target="_blank"><img src="..\assets\img\PenofDamned.jpg" alt="PenoftheDamned"></a></button>
        </div>
        <div class="col">
          <button><a href="https://www.womeninhorrormonth.com/" target="_blank"><img src="..\assets\img\womeninhorror.png" alt="womeninhorrormonth"></a></button>
        </div>
        </div>
      </div>
    </div>
</body>
</html>