<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Description about who Elaine Pascale is.">
  <title>About Elaine Pascale</title>
</head>

<body>
  <div class="background">
    <img src="../assets/img/AboutCat.jpg" alt="Lousie the cat" class="about">
    <h1>Meet the Author
      <hr>
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2><span class="indent">"Pascale</span> writes in the realm with the giants.
            She is one step past fantastic that is hard to define,
            and a little frightening, and yet we yearn to travel there as often as possible"
            <br>
            <span class="sig">--Adam Armstrong</span>
          </h2>
          <br>
          <h3><span class="indent">Elaine</span> Pascale has been writing for most of her life. She was born in
            Pennsylvania and grew up in rural parts of the state. For most of her young life, she lived in a valley that housed many myths, legends and cryptic creatures. She often sneaks and tweaks
            those myths into her own writing as they have had a lasting impression on her.
            <br>
            <span class="indent">She</span> then moved to Boston and later to Cape Cod. The Cape is the setting for her
            novella, The Blood Lights, and for The Thin Contract. Cape Cod is a beautiful place, but it becomes very
            isolated during the winters and that lends itself to some creepiness.
            She took a break from fiction in order to give birth to two children and a doctoral dissertation. She has
            taught a variety of courses from English Composition and Communications to a Vampire Seminar. Her writing
            has been published in several magazines and anthologies.
            <br>
            <span class="indent">Now</span> living in Florida she continues to write horror, and regularly appears on
            podcasts and participates in Women in Horror writing prompts. Attached is a picture of her lovely horror
            watching buddy, Louise. Louise is incredibly brave and can watch in the position pictured, while Elaine
            watches peeking from the covers and between her fingers. Elaine enjoys a robust full moon, chocolate,
            paddleboarding, and collecting cats.
          </h3>
        </div>
        <div class="col-4">
          <a href="https://www.amazon.com/Elaine-Pascale/e/B003MRXUCS/ref=aufs_dp_fta_dsk" target="_blank"> <img
              src="../assets/img/Mommy.jpg" class="elaine"
              alt="Elaine Pacale that links to Elaine Pascale's Amazon Home Page"></a>
          <img src="../assets/img/Louise.jpg" alt="Lousie the cat" class="lousie">
        </div>
      </div>
    </div>
    <br>
  </div>
</body>

</html>