<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Description about who Elaine Pascale is.">
  <title>About Elaine Pascale</title>
</head>

<body>
  <div class="background">
    <img src="../assets/img/AboutCat.jpg" alt="Lousie the cat" class="about">
  <!--  <h1>Meet the Author
      <hr>
    </h1> -->
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2><span class="indent">"Pascale</span> writes in the realm with the giants.
            She is one step past fantastic that is hard to define,
            and a little frightening, and yet we yearn to travel there as often as possible"
            <br>
            <span class="sig">-- Adam Armstrong</span>
          </h2>
          <br>
          <h3><span class="indent">Elaine</span> Pascale has been writing horror and watching horror movies for most
            of her life. She was raised in a valley that pulsated with myths, legends, and cryptic creatures. Those
            spirits and monsters have a habit of forcing their way into her stories.
            <br>
            <span class="indent">She</span> regularly
            appears on the <a href="https://podcasts.apple.com/ie/podcast/what-a-scream/id1551549196" target="_blank">What a Scream podcast</a> and participates in the <a href="https://spreadingthewritersword.com/" target="_blank">Ladies of Horror flash fiction challenge.</a> She is a
            regular contributor to <a href="https://penofthedamned.com/" target="_blank">Pen of the Damned</a>, is member of <a href="https://www.youtube.com/@strongwomen-strangeworlds" taget="_blank">Strong Women
            Strange Worlds</a>, and is most easily stalked during the month of March when
          
            she dedicates a great deal of time and energy to Women in Horror Month.
            <br>
            <span class="indent">When</span> not writing, Elaine can be found watching horror movies with her buddy,
            Louise (pictured). Louise is incredibly brave and can watch in the
            position pictured, while Elaine watches peeking from beneath the covers and
            between her fingers. Elaine enjoys a robust full moon, chocolate,
            paddleboarding, and collecting cats.
          </h3>
        </div>
        <div class="col-4">
          <a href="https://www.amazon.com/Elaine-Pascale/e/B003MRXUCS/ref=aufs_dp_fta_dsk" target="_blank"> <img
              src="../assets/img/Mommy.jpg" class="elaine"
              alt="Elaine Pacale that links to Elaine Pascale's Amazon Home Page"></a>
          <img src="../assets/img/Louise.jpg" alt="Lousie the cat" class="lousie">
        </div>
      </div>
    </div>
    <br>
  </div>
</body>

</html>