/* h1 {
  text-align: center;
  padding-top: 1%;
  font-size: 75px;
  margin-right: 25%;
} */
h2{
  padding-top:3%;
}
a{
  color:black;
  text-decoration:none;
  font-style:italic;
}
.sig {
  margin-left: 45%;

}

.indent {
  margin-left: 5%;
}

img {
  width: 300px;
  height: 500px;
  object-fit: contain;
  float: right;
}

.background {
  background-image: url('../../../assets/img/about-background.jpg');
}

.about {
  height: 120px;
  width: 150px;
  float: left;
  padding: 0%;
  margin-left: 10%;
}

@media screen and (max-width:600px) {
  .about {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 5%;
  }

  h1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .col-8 {
    width: 100%;
  }

  .sig {
    margin-left: 40%;
  }

  img {
    display: flex;
    float: none;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .col-4 {
    width: 100%;
  }

  a {
    padding-bottom: 0%;
  }

  .elaine {
    margin-bottom: 0%;
  }
}