<head>
    <title>Women in Horror Month Transcripts PDF Files</title>
    <meta name="description" content="Women in Horror Month PDF Files to view. Women in Horror Month celebrates Women in the Horror Realm.">
</head>

<div class="container">
    <div class="row">
        <div class="col">       
            <a href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:71099515-4796-479f-b007-938469f23801" target="_blank">
            <img src="../assets/img/wihm.png" alt="Women in Horror Month  II PDF File"/></a>
        </div>
        <div class="col">
            <a href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:5770ae18-df05-43ca-b44e-e3996517dbdf" target="_blank">
                <img id="second" src="../assets/img/wihm2.png" alt="Women in Horror Month X PDF File"/></a>  
        </div>
    </div>
</div>
