<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Podcasts, Interview Transcripts and Women in Horror Month Media.">
  <title>Podcasts, Interview Transcripts and Women in Horror Month Media</title>
</head>

<body>
  <div class="background">
    <h1>Women in Horror Month</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:71099515-4796-479f-b007-938469f23801"
            class="wihm" target="_blank">
            <img src="../assets/img/NewPic2.jpg" alt="Women in Horror Month  II PDF File" /></a>
        </div>
        <div class="col">
          <a href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:5770ae18-df05-43ca-b44e-e3996517dbdf"
            class="wihm" target="_blank">
            <img id="second" src="../assets/img/NewPic.jpg" alt="Women in Horror Month X PDF File" /></a>
        </div>
      </div>
    </div>

    <h1>Podcasts Appearances</h1>
    <div class="container text-center">

      <div class="row">
        <div class="col">
          <a href='https://www.blogtalkradio.com/michiganavenuemedia/2022/06/16/anne-rice-tribute-anthology--michigan-avenue-media'
            target="_blank"><button id="podcast"><img src="../assets/img/Shadows.jpg"
                alt="Dancing in the Shadows A Tribute to Anne Rice"></button></a>
        </div>
        <div class="col">
          <a href='https://anchor.fm/don-anelli/episodes/Episode-5---Top-10-Post-2000-Vampire-Films-e1dm1nc/a-a7aomgm'
            target="_blank"><button id="podcast"><img src="../assets/img/HorrorPodcast.jpg"
                alt="The Horror Countdown Podcast"></button></a>
        </div>
        <div class="col">
          <a href='https://www.podbean.com/media/share/pb-cph8q-fb1f9c?fbclid=IwAR09WsGFwKhL9vOHtMxkLQvhMtgtFHMiJNOYaxlD-hczcfLuGG56ExS_x1w'
            target="_blank"><button id="podcast"><img src="../assets/img/Dr.Nagle.jpg"
                alt="Creative Writing with Dr.Nagle"></button></a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href='https://www.blogtalkradio.com/michiganavenuemedia/2020/02/25/writing-a-great-horror-story--marsha-casper-cook-a-good-story-is-a-good-story?fbclid=IwAR03bUxCTGLVeQDHZtRrkXv87KYILWMkirEcBTCv_fBCWtHnWtFKHtT979o'
            target="_blank"><button id="podcast"><img src="../assets/img/CasperCook.jpg"
                alt="Writing a Great Horror Story"></button></a>
        </div>
        <div class="col">
          <a href='http://www.libraryofthedamned.com/GLHC/GLHC-41.mp3' target="_blank"><button id="podcast"><img
                src="../assets/img/GreatLake.png" alt="Great Lake Horror Company"></button></a>
        </div>
        <div class="col">
          <a href='http://www.libraryofthedamned.com/GLHC/GLHC-40.mp3' target="_blank"><button id="podcast"><img
                src="../assets/img/GreatLake.png" alt="Great Lake Horror Company"></button></a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href='https://inebriart.libsyn.com/horror-writer-elaine-pascale-ep-93?tdest_id=449334'
            target="_blank"><button id="podcast"><img src="../assets/img/Inebriart.jpg"
                alt="Horror Writer Elaine Pasclae Ep. 93"></button></a>
        </div>
      </div>

    </div>

    <h1>Interview Transcripts</h1>

    <div class="container text-center">

      <div class="row">
        <div class="col">
          <a href='https://www.thewritestart.net/author-interview-elaine-pascale/' target="_blank"><button
              id="transcripts"><img src="../assets/img/WriteStart.jpeg" alt="The Write Start"></button></a>
        </div>
        <div class="col">
          <a href='https://www.cinema-crazed.com/blog/2021/03/15/interview-with-horror-author-elaine-pascale-women-in-horror-month-2021/?fbclid=IwAR1yIJKW5cA-QR7l5u0D18bxGwhBgI2EZ7rBc54QD-VmKx4e247aUOo7cfM'
            target="_blank"><button id="transcripts"><img src="../assets/img/CinemaCraze.jpg"
                alt="Cinema Crazed"></button></a>
        </div>
        <div class="col">
          <a href='https://donshorrorworld.blogspot.com/2021/03/wihm-special-elaine-pascale.html'
            target="_blank"><button id="transcripts"><img src="../assets/img/Elaine.jpg"
                alt="Don's World Horror and Exploitation"></button></a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href='https://horrortree.com/wihm-12-quick-six-questions-with-elaine-pascale/?fbclid=IwAR3nw7RJSgT7imnrLzExqUdquXHQDWeVG0tlGCoC5dAHvEQGUechGgYEiaM'
            target="_blank"><button id="transcripts"><img src="../assets/img/horrortree.jpg"
                alt="Quick Six Questions With Elaine Pascale"></button></a>
        </div>
        <div class="col">
          <a href='https://nancykilpatrickwriter.blogspot.com/2019/07/get-to-know-fiction-and-non-fiction.html?spref=bl'
            target="_blank"><button id="transcripts"><img src="../assets/img/nancy.jpg"
                alt="Nancy Kilpatrick's Blog"></button></a>
        </div>
        <div class="col">
          <a href='https://booknook2018.wordpress.com/2019/04/23/qa-with-elaine-pascale/' target="_blank"><button
              id="transcripts"><img src="../assets/img/KG.jpeg"
                alt="Books to Love: Mystery, Thrillers, Suspense, Science-Fiction, Fantasy, Horror and more"></button></a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href='http://www.thehorrorzine.com/ReviewFolder/BloodLights/BloodLightsReview.html' target="_blank"><button
              id="transcripts"><img src="../assets/img/HorrorZone.jpg" alt="Horror Zone"></button></a>
        </div>
        <div class="col">
          <a href='https://www.capenews.net/arts_and_entertainment/mashpee-writer-and-educator-publishes-horror-novel/article_ca6df963-c41a-5d70-bc00-bbbad7ea6227.html'
            target="_blank"><button id="transcripts"><img src="../assets/img/CapeCod.png"
                alt="Mashpee Author and Educator Publishes Horror Novel"></button></a>
        </div>
        <div class="col">
          <a href='http://promotehorror.com/2018/07/15/the-blood-lights/' target="_blank"><button id="transcripts"><img
                src="../assets/img/PromoteHorror.jpg" alt="Promote Horror"></button></a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href='https://rainnes.blogspot.com/2018/07/the-blood-lights-by-elaine-pascale.html' target="_blank"><button
              id="transcripts"><img src="../assets/img/JustBooks.jpeg"
                alt="Author and character interviews. Book reviews and spotlights. Cover reveals, Sales promos, Release Blitz and BlogTours"></button></a>
        </div>
        <div class="col">
          <a href='http://www.sirenscallpublications.com/pdfs/SirensCallEZine_April2018.pdf' target="_blank"><button
              id="transcripts"><img src="../assets/img/Sirens.png" alt="Sirens Publishing"></button></a>
        </div>
        <div class="col">
          <a href='http://promotehorror.com/2018/02/13/women-in-horror-month-interview-with-author-elaine-pascale/'
            target="_blank"><button id="transcripts"><img src="../assets/img/PromoteHorror.jpg"
                alt="Promote Horror"></button></a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href='https://dayswiththeundead.com/2014/03/17/5-questions-with-elaine-pascale/' target="_blank"><button
              id="transcripts"><img src="../assets/img/DayswUndead.jpeg"
                alt=" Five Questions with Elaine Pascale"></button></a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>