.banner
{
    background-image: url('../../../assets/img/bannerimg.jpg');
    background-position: center bottom;
    background-size: cover;
    margin-top: 0%;
}
.bookbox
{
    padding-top:5%;
    padding-left: 5%;
    padding-right: 5%;
}
.bookbox img
{
    width: 100%;
    //height:550px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid white;
}
.bookbox p
{
  color: white;  
  font-size: 20px;
  padding-top:5%;
}
.row
{
    padding-top: 1%;
    padding-bottom: 5%;
}

.quiz{
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
}
h3{
    color:white;
}
button{
    padding: 10px 20px; /* Adjust padding */
    background-color: #ff6a00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust gap as needed */
  }